# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
go-forward
forward
!forward/
test.sh
test.py
*.py

# Folders
_obj
_test
release
debian
bin
.vscode
test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.swp
*.swo

*.exe
*.test

*.bak

snap

*.pem
*.txt
dist/
cert.cer
private.key
self-cert.cer
self-private.key
self-rootca.cer
.github/agents/
.github/prompts/
.specify/

.gocache/
mem.out
plan.md
